@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Quicksand', sans-serif;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
   background-size: cover;
}

.form {
   background: rgba(255, 255, 255, 0.9);
   padding: 40px;
   border-radius: 10px;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
   text-align: center;
   width: 90%;
   max-width: 500px;
}

h2 {
   font-size: 2em;
   color: #333;
   margin-bottom: 20px;
}

.erreur_message {
   color: red;
   margin-bottom: 20px;
}

form {
   width: 100%;
}

label {
   display: block;
   text-align: left;
   margin-bottom: 5px;
   font-weight: 500;
   color: #555;
}

select, input[type="date"], input[type="submit"], input[type="button"], input[type="text"] {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 1em;
   margin-bottom: 20px;
   color: #333;
   transition: border-color 0.3s;
}

select:focus, input[type="date"]:focus, input[type="text"]:focus {
   border-color: #9b59b6;
   outline: none;
}

input[type="submit"], input[type="button"] {
   background-color: #28a745;
   color: white;
   border: none;
   cursor: pointer;
   transition: background-color 0.3s;
}

input[type="button"] {
   background-color: #dc3545;
}

input[type="submit"]:hover {
   background-color: #218838;
}

input[type="button"]:hover {
   background-color: #c82333;
}
