
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #0099ff, #06ffff);
  background-size: 200% auto; 
  animation: animateBackground 10s linear infinite; 
}

@keyframes animateBackground {
  0% {
    background-position: 0 50%; 
  }
  100% {
    background-position: 100% 50%; 
  }
}



form {
  position: relative;
  width: 400px;
  background: #222;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);
  flex-direction: column;
}

h1 {
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 15px 10px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

.input-box i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}

.input-box input:focus ~ i,
.input-box input:valid ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}

.btn {
  padding: 10px;
  background: #0f0;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #090;
}

.register-link {
  margin-top: 20px;
  color: red;
}
remember{
  margin-right: 60px;
}
